.sheet.journal-entry .journal-entry-content {
    background: url('../textures/egg-shell.png') repeat;
}

.sheet.item .window-content {
    background: url('../textures/egg-shell.png') repeat;
}

.sheet.item .sheet-header button[id='mseItemSound'] {
    display: none;
}

.sheet.item .window-content input[placeholder='Name']:focus,
.sheet.item .window-content input[data-property='system.level.value']:focus {
    border: 1px solid var(--variachels-journal-border-highlight);
    box-shadow: 0 0 5px var(--variachels-journal-border-highlight-shadow) !important;
}

.app.window-app.dialog .window-content {
    background: url('../textures/egg-shell.png') repeat;
}

.app.window-app.scene-sheet .window-content {
    background: url('../textures/egg-shell.png') repeat;
}

.app.window-app.actor .window-content {
    background: url('../textures/egg-shell.png') repeat;
}

.app.window-app.actor.character .window-content .sheet-body {
    background: url('../textures/egg-shell.png') repeat;
}

.app.window-app.package-configuration .window-content {
    background: url('../textures/egg-shell.png') repeat;
}

.app.window-app.form .window-content {
    background: url('../textures/egg-shell.png') repeat;
}

.app.window-app.actor .window-content .image-container {
    border: none;
}
