.sheet.journal-entry .journal-entry-content {
    background: url('../textures/mocha-grunge.png') repeat !important;
}

.journal-header input.title {
    color: #383636 !important;
    text-shadow: 0 0 5px var(--variachels-journal-header-text-color) !important;
}

input[type="search"] {
    color: #383636 !important;
}
